html,
body {
  height: 100%;
}

body {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dcdadb;
}

.form-inline{
 flex-direction: column;
}

.form-group{
 margin-top: 30px;
}

.form-logo{
 margin-left:140px;
 margin-bottom: 50px;

}

label{
 width: 150px;
}

input{
 width:300px;
 text-align: center;
 border-radius: 5px;
}

select{
 text-align-last:center;
 border-radius: 5px;
 width: 300px;
 height: 30px;
}

.form-output{
 width: 300px;
 border-radius: 5px;
}

.form-predict {
    display: inline-block;
    border: none;
    padding: .4rem .4rem;
    text-decoration: none;
    background: #0069ed;
    margin-left:150px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-predict:hover,
button:focus {
    background: #0053ba;
}

.form-predict:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.form-predict:active {
    transform: scale(0.99);
}

